<%- include("../partials/header") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
		<h1>Welcome to MovieBuzz!</h1>
		<p>View all the latest movies and their reviews and ratings</p>
		<p><a class="btn btn-primary btn-lg" href="/movies/new">add new movie</a></p>
		</div>
	</header>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
         <div class="col-md-12">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
            	<form action="/movies" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Movies search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
             <% } %>
		</div>
         
	<br>
		<% movies.forEach(function(movie){ %>
		<div class='col-md-3 col-sm-6 '>
			<div class="card">
				<img class="card-img-top" src="<%= movie.image %>" >
				<div class='card-body'>
					<h4 class="card-title"><%= movie.title  %></h4>
					<a href="/movies/<%=movie._id %>" class="btn btn-primary">more info!</a>
				</div>
			</div>
		</div>
		<% }) %>
	</div>	 
	
</div>
<%- include("../partials/footer") %>
	




