<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Director</p>
			<div class="list-group list-group-flush">
				<li class="list-group-item"><%= movie.director %> </li>
			</div>
			<% actors = movie.actors %>
			<% actorsarr = actors.split(",") %>
			<p class="lead">Actors</p>
			<div class="list-group list-group-flush">
				<% actorsarr.forEach(function(actor){%>
					<li class="list-group-item"><%= actor %> </li>
				<% }) %>
			</div>
			
			<!-- Map -->
		</div>
		<div class="col-md-9">
			<div class="card">
				<img class="card-img-top" src="<%= movie.image %>" >
				<h4><a class='card-title' href="#"><%= movie.title %></a></h4>
				<div class='card-text'>
					<p><%- movie.description %></p>
					<p>
                        <em>Submitted By <%= movie.author.username %></em>
                    </p>
					
					<a class="btn btn-sm btn-warning" href='/movies/<%= movie._id %>/edit'>Edit</a>
					<form class="delete" method="POST" action="/movies/<%= movie._id %>?_method=DELETE">
						<button class="btn btn-sm btn-danger">
							Delete
						</button>
					</form>
					
				</div>
			</div>
			<br>
			<!-- review section -->
			<!--Review section-->
            <div class="card">
                <div class="card-text">
                    <% if (movie.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (movie.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (movie.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (movie.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (movie.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= movie.reviews.length %>)</em>
                    </p>
                    <p>
                        Current movie rating: <strong><%= movie.rating.toFixed(2) %></strong>
                    </p>
                    <h4>Latest reviews for this movie:</h4>
                    <hr style="margin-top: 0;">
                    <% movie.reviews.slice(0, 3).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <a class="btn btn-sm btn-warning"
                               href="/movies/<%=movie._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form class="delete" method="POST" action="/movies/<%=movie._id %>/reviews/<%=review._id %>?_method=DELETE" >
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/movies/<%= movie._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && movie.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/movies/<%= movie._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
			
			<!-- comment section -->
			<div class="card card-body bg-light">
				<div class="text-right">
					<a class='btn btn-primary' href="/movies/<%=movie._id %>/comments/new"> Add New Comment</a>
				</div>
				<hr>
				<%= console.log(movie.comments.author) %>
				<% movie.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<div>
							<strong><%= comment.author.username %></strong>
						<span class="float-right"><%= comment.created.toDateString() %></span>
						</div>
						<p>
							<%= comment.text %>
						</p>
						
						<a class="btn btn-sm btn-warning" href="/movies/<%= movie._id %>/comments/<%= comment._id %>/edit"> Edit </a>
						<form class="delete" method="POST" action="/movies/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE">
						<button class="btn btn-sm btn-danger">
							Delete
						</button>
					</form>
						
					</div>
				</div>
				<% }) %>
			</div>
		</div>
		
	</div>
	
</div>
<%- include("../partials/footer") %>